.pixel {
	float: left;
	width: 1px;
	height: 1px;
	background-color: #FFF;
}
.container {
	position: relative;
    display:inline-block;
	border:1px solid black;
}
#overlayDiv {
	 height: 100%;
	 width: 100%;
	 position: relative;
	 z-index: 20;
	 opacity: .7;
}
#picture {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	background: url("../images/blue.png");
	background-size: contain;
}