#currency {
	width: 980px;
	padding: 10px;
	height: 40px;
	border: 1px solid black;
	margin-bottom: 10px;
}
.pixel {
	float: left;
	width: 1px;
	height: 1px;
	background-color: #FFF;
}
#gameContainer {
	position: relative;
    display:inline-block;
	border:1px solid black;
	margin: 0px auto 30px auto;
}
#overlayDiv {
	 height: 100%;
	 width: 100%;
	 position: relative;
	 z-index: 20;
	 opacity: .7;
}
#picture {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	background: url("../images/blue.png");
	background-size: contain;
}
#info {
	border: 1px solid black;
	float: right;
	width: 380px;
	height: 600px;
}
.gameButton {
	color: #222;
	border: 1px solid #AAA;
	border-radius: 4px;
	position: relative;
	width: 110px;
	height: 30px;
	margin-bottom: 4px;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
	
	background: #CCC; /* Old browsers */
	background: -moz-linear-gradient(top,  #DDD 0%, #CCC 100%); /* FF3.6+ */
	background: -o-linear-gradient(top,  #DDD 0%,#CCC 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #DDD 0%,#CCC 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #DDD 0%,#CCC 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDD', endColorstr='#CCC',GradientType=0 ); /* IE6-9 */
}
.disabled {
	opacity: 0.5;
}
.infoHeader {
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: underline;
}
